*{
	margin: 0;
	padding:0;
}

@font-face {
   font-family:'Slise';
   src: url('../fonts/slise.ttf');
}
@font-face{
	font-family:'strong';
   	src:url('../fonts/proxbold.ttf');
}

body{
	background-color:#34314c;
	font-family:'Slise','Open Sans', sans-serif;
}

.header-for-gray{
	width:100%;
	height:370px;
	background-color:#f5f5f5;
}

.wrap{
	width:750px;
	max-width:90%;
	margin:0 auto;
}

.main-header{
	padding-top: 100px;
	margin-bottom:170px;
}

.logo span{
	font-family:'strong';
}
.main-header .logo{
	font-size: 1.35em;

}

.main-header .logo h1{
	float: left;
	margin-bottom:60px;
}

.clearfix{
	clear: both;
}

.nav-menu{
	float: right;
	padding:14px;
}

.nav-menu a{
	list-style: none;
	text-decoration: none;
	color:black;
	margin-left: 1em;
	font-size:1.05em;
}

.nav-menu a:hover{
	color:#ff4f19;
}
.content{
	font-size:1.1em;
	max-width:90%;
}

.shortintro{
	width:620px;
}
.main-content{
	color: white;
}

.main-content .blck{
	border-bottom:2px dashed #f5f5f5;
	margin-bottom:80px;
}

.left{
	float: left;
}
.left h2{
	border-bottom:4px solid #ff4f19;
	margin-bottom:10px;
}

.left{
	width: 225px;
	padding-top:100px; 
}

img{
	float: right;
}

footer{
  width:100%;
  height:60px;
  position:fixed;
  bottom:0;
  background-color: #efefef;
  text-align: center;
  line-height:60px;
}
.normalSize{
	font-weight:bold;
}

.infodevskills{
	margin-top:-80px;
}


@media screen and (max-width: 600px){

	.main-header{
	padding-top: 50px;
	margin-bottom:170px;
}

	.nav-menu{
	display:none;
	}

	.main-header .logo h1{
	float: left;
	margin-bottom:15px;
}


}

@media screen and (max-width: 540px){
img{
	width:150px;
	height:150px;
	float: right;

}

.left h2{
	font-size:1.2em;
}

.left {
    width: 225px;
    padding-top:25px;
 }



}


@media screen and (max-width: 430px){
	.left {
    width: 225px;
    padding-top:5px;
 }
 img{
 	position:relative;
 	right:20%;
 }
  .main-header {
    padding-top: 15px;
}

}

